@{
    ViewBag.Title = "Home Page";
}

<section class="ftco-cover" style="background-image: url(/Content/images/birishiri.jpg);" id="section-home" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center ftco-vh-100">
            <div class="col-md-7">
                <h1 class="ftco-heading mb-3" data-aos="fade-up" data-aos-delay="500">Welcome!!</h1>
                <h2 class="h5 ftco-subheading mb-5" data-aos="fade-up" data-aos-delay="600">I am a Bangladeshi Software Engineer!</h2>
                <p data-aos="fade-up" data-aos-delay="700">If you have any comments, please feel free to follow on facebook or contact me! </p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<section class="ftco-section" id="section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12  mb-5" data-aos="fade-up">
                <h1 class="ftco-heading heading-thin mb-5">WHO AM I?</h1>
            </div>
        </div>

    </div>
</section>
<!-- END section -->
<section class="ftco-section-2">
    <div class="container-fluid">
        <div class="section-2-blocks-wrapper row no-gutters">
            <div class="img col-sm-12 col-md-5" style="background-image: url('/Content/images/fancycrave-277756-unsplash.jpg');" data-aos="fade-right">
                <a href="https://vimeo.com/45830194" class="button" data-aos="fade-right" data-aos-delay="700"><ion-icon name="play-circle"></ion-icon></a>
            </div>
            <div class="text col-md-6 col-lg-7 d-flex">
                <div class="text-inner align-self-center" data-aos="fade-up">

                    <h3>I Create</h3>
                    <p>I am a professional software engineer!</p>
                    <p>I try to make effective softwares</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-2-blocks-wrapper-2">
    <div class="container-fluid">
        <div class="section-2-blocks-wrapper row no-gutters d-flex" style="background: #ffffff;">

            <div class="text col-md-5 col-lg-5 col-xl-4 ml-auto d-flex" data-aos="fade-up">
                <div class="text-inner align-self-center mr-auto">
                    <h4 class="text-primary h5">I Travel</h4>
                    <p class="mb-4">I travel to many places</p>
                </div>
            </div>
            <div class="img col-md-5 no-gutters ml-auto">
                <div class="image" style="background-image: url('/Content/images/jaflong.jpg'); " data-aos="fade-left"></div>
                <div class="quote" data-aos="fade-left">
                    <p class="mb-5">&rdquo;Beautiful Jaflong  &ldquo;</p>
                    <p class="author">&mdash; Sylhet, Bangladesh</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section-2">
    <div class="container-fluid">
        <div class="section-2-blocks-wrapper row no-gutters">
            <div class="img col-sm-12 col-md-5" style="background-image: url('/Content/images/jaflong.jpg');" data-aos="fade-right">
                <a href="https://vimeo.com/45830194" class="button" data-aos="fade-right" data-aos-delay="700"><ion-icon name="play-circle"></ion-icon></a>
            </div>
            <div class="text col-md-6 col-lg-7 d-flex">
                <div class="text-inner align-self-center" data-aos="fade-up">

                    <h3 class="text-primary h5">Photography</h3>
                    <p class="mb-4">Try to capture the things i see!</p>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@